@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');


@import "tailwindcss";

:root {
  --background: #fef8f8;
  --foreground: #0b0b0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff3f3;
    --foreground: #4c4b4b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}


@keyframes meow {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-25px) scale(1.1);
  }
}

.animate-meow {
  animation: meow 1.2s ease-out forwards;
}

